.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 80rem;
}

.content-container-dashboard {
  margin: 0 auto;
  padding: 5 $m-size;
  max-width: 80rem;
}

.content-container-login {
  margin: 0 auto;
  padding: 5 $m-size;
  max-width: 20rem;
}

.content-container-planner {
  margin: 0;
  padding: 0;
}

.content-container-modal {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 100rem;
}

.content-container-planner-list {
  margin: 0 10 0 10;
  padding: 0 $m-size;
 }

 .content-container-usermanual {
  margin: 0 auto;
  padding: 0 $s-size;
  }

 .content-container-course {
  margin: 0;
  padding: 0 $m-size;
}

.content-container-course-list {
  margin: 0 10 0 10;
  padding: 0 $m-size;
 }
